* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #ad540b9c;
  }
  .container {
    background-color: #7f724f;
    width: min(90%, 500px);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 4em 2em;
    border-radius: 0.5em;
  }
  button {
    border: none;
    outline: none;
    cursor: pointer;
  }
  .section-container {
    display: flex;
    gap: 1em;
    justify-content: center;
  }
  .btn {
    padding: 1em 2em;
    border-radius: 0.5em;
    background-color: #512813;
    color: #0c0101;
  }
  .btn-focus {
    background-color: #9d1104;
    color: #f8caca;
  }
  .time-btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }
  #time {
    text-align: center;
    color: #1f226a;
    font-size: 5em;
    font-weight: 600;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    gap: 2em;
  }
  #btn-start,
  #btn-pause {
    padding: 1em 2em;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: #9a300c;
  }
  #btn-reset {
    background-color: transparent;
    border: none;
    outline: none;
    color: #e5b349;
    font-size: 2em;
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
  }